.chapter {
  margin: 25px 0;
}
.chapterInput {
  height: 43px;
  border: 1px solid #4f4f4f;
  border-radius: 12px;
  outline: none;
  width: 60vw;
  padding: 0 10px;
  font-size: 18px;
}

.addChapterInput {
  margin-top: 10px;
}

.arrow_hide {
  margin-right: 5px;
  cursor: pointer;
  transform: rotate(-90deg);
}

.arrow_show {
  margin-right: 5px;
  cursor: pointer;
}
