.field {
  height: 50px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.field > p {
  margin: 10px;
  font-weight: bold;
}
.field > input {
  width: 50vw;
  min-width: 400px;
  max-width: 1000px;
  height: 30px;
  outline: none;
  font-weight: bold;
  padding: 0px 10px;
}
