.subtopic {
  margin-left: 60px;
}
.subtopicInput {
  height: 43px;
  border: 1px solid #4f4f4f;
  border-radius: 12px;
  outline: none;
  width: 60vw;
  padding: 0 10px;
  font-size: 14px;
  margin: 5px 0;
  padding-right: 40px;
}

.addsubtopicInput {
  margin-top: 5px;
}

.trash {
  position: relative;
  top: 10px;
  left: -38px;
  cursor: pointer;
}

.generated {
  border-color: #5cfff5;
  color: #33b6ab;
}
.generated::placeholder {
  color: #33b6ab;
}
