.toolbar {
  height: 72px;
  display: flex;
  border-bottom: 1px solid #c1c1c1;
  margin: 10px 30px;
  align-items: flex-end;
  justify-content: space-between;
}

.toolbar > input {
  height: 38px;
  font-size: 20px;
  padding: 0px;
  width: 100%;
  outline: none;
  border: none;
  background-color: inherit;
}

.toolbar > input::placeholder {
  color: #c1c1c1;
  opacity: 1;
}

.tools {
  height: 38px;
  width: 217px;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.tools > input {
  width: 30px;
  background-color: red;
  color: red;
}

.tools > * {
  cursor: pointer;
}
