.topic {
  margin-left: 60px;
}
.topicInput {
  height: 43px;
  border: 1px solid #4f4f4f;
  border-radius: 12px;
  outline: none;
  width: 60vw;
  padding: 0 10px;
  font-size: 16px;
  margin: 10px 0;
  padding-right: 45px;
}
.addTopicInput {
  margin-top: 5px;
}

.arrow_hide {
  margin-right: 5px;
  cursor: pointer;
  transform: rotate(-90deg);
}

.arrow_show {
  margin-right: 5px;
  cursor: pointer;
}

.trash {
  position: relative;
  top: 10px;
  left: -40px;
  cursor: pointer;
}
